<nav class="navbar navbar-expand-lg bg-light">
  <div class="container mt-5">
    <a class="navbar-brand" href="#">MaviExpress</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="#">Ürünler</a>
        <a class="nav-link" href="#">Siparişler</a>
      </div>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="row">
  <div class="col-sm-7">
    <h1>ÜRÜNLER</h1>
    <div *ngFor="let product of products" class="product">
      <img [src]="product.photoPath" [alt]="product.name">
      <div class="product-name">{{product.name}}</div>
      <div class="product-price">{{product.price.toFixed(2)}} TL</div>
      <div class="quantity-bar d-flex justify-content-between align-items-center mt-2">
        <button (click)="decreaseAmount(product)" class="btn btn-sm btn-danger">-</button>
        <input type="text" [(ngModel)]="product.quantity" (ngModelChange)="updateBasket(product)">  <!--[ ] KODDAKİ VERİYİ ARAYÜZE EKLE ANLAMINDA KULLANILDI-->
        <button (click)="increaseAmount(product)" class="btn btn-sm btn-success">+</button>
      </div>
    </div> 
  </div>
  <div class="col-sm-5">
    <h1>SEPET</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ürün</th>
          <th>Miktar</th>
          <th class="text-end">Fiyat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basket">
          <td>{{item.name}}</td>
          <td>{{item.quantity}} {{item.unit}}</td>
          <td class="text-end">{{(item.price * item.quantity).toFixed(2)}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="total">
          <td colspan="2">Toplam</td>
          <td class="text-end">{{getTotal()}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
</div>